.container{
    display: grid;
    grid-template-rows:1fr;
  
}
.img{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid silver;
}
.name{
    color: rgb(160, 76, 76);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.des{
    font-weight: 800;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(65, 62, 58);
}
